html {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #777777 0%,#aaaaaa 50%,#777777 100%);
}

body {
    font: 14pt Helvetica, Verdana;
    margin: 0;
    padding: 0;
    background: url('img/swisstiles.png');
}

a {
    color: #990000;
    text-shadow: 0 0 8pt white;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: #990000;
    text-shadow: 0 0 1em white;
    margin: 0;
    padding: 1em;
}

.grid {
    width: 60em;
    margin: 0 auto;
}

.game {
    width: 16em;
    height: 14em;
    float: left;
    margin: 0.5em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.gamename {
    display: block;
    white-space: nowrap;
    width: 16em;
    overflow: hidden;
}

.gamename a {
    font-size: 130%;
}

.developername {
    margin-bottom: 1em;
    display: block;
    white-space: nowrap;
    width: 16em;
    overflow: hidden;
}

.screenshotcontainer {
    text-align: center;
    height: 9em;
    width: 16em;
    overflow: hidden;
    margin-bottom: 0.3em;
}

.screenshotcontainer img {
    max-width: 16em;
    min-height: 9em;
}

.buy {
    margin-top: 0.2em;
}

.ytframe {
    width: 16em;
    height: 9em;
}

.noscreenshot {
    width: 16em;
    height: 9em;
    background: rgba(0, 0, 0, 0.2);
}

.info {
    text-align: center;
    padding-bottom: 1em;
}
