html {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #777777 0%,#aaaaaa 50%,#777777 100%);
}

body {
    font: 14px Helvetica, Verdana;
    margin: 0;
    padding: 0;
    background: url('img/swisstiles.png');
}

a {
    color: #990000;
    text-shadow: 0px 0px 8px white;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: #990000;
    text-shadow: 0px 0px 8px white;
    margin: 0;
    padding: 1em;
}

.grid {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .grid {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .grid {
        width: 340px;
    }
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .grid {
        width: 340px;
    }
}

.game {
    width: 320px;
    height: 260px;
    float: left;
    margin: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
}

.gamename {
    display: block;
    font-size: 130%;
    white-space: nowrap;
    width: 320px;
    overflow: hidden;
}

.developername {
    margin-bottom: 1em;
    display: block;
    white-space: nowrap;
    width: 320px;
    overflow: hidden;
}

.screenshotcontainer {
    text-align: center;
    height: 180px;
    width: 320px;
    overflow: hidden;
}

.screenshotcontainer img {
    max-width: 320px;
    min-height: 180px;
}

.screenshotcontainer, .noscreenshot, .ytframe {
    margin-bottom: 0.5em;
}

.noscreenshot {
    width: 320px;
    height: 180px;
    background: rgba(0, 0, 0, 0.2);
}

.info {
    text-align: center;
    padding-bottom: 1em;
}
